*{
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none !important;
}

body{
	background-color: #f4f4f4 !important;
}

.login-alerts{
    width: 350;
    height: 50px;
    margin: 0 auto;
}

.login-center{
	width: 350px;
	height: auto;
	background-color: #ffffff;
	margin: 0 auto;
	margin-top: 8%;
	box-shadow: 1px 2px 8px 1px #d6d6d6;
	border-radius: 6px;
}

.login-logo{
	padding: 20px 0px 0px 20px;
}

.login{
	padding: 10px 20px 20px 20px;
}